.dickSlides{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slideDick{
    width: 100%;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input{
    width: 100%;
    height: 100%;
    font-size:250px;
    margin-top:50px ;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #051027;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
   
}
.button{
 width: auto;
    height: auto;
    padding: 10px;
    display:flex;
    font-size: 10rem;
    margin-top: 50%;
    justify-content:center;
    align-items:center;
    border-radius: 15px;
    color:white;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
