.containerToDo{
    width: 100%;
    height: auto;
    min-height: 90%;
    display: flex;
    justify-content: center;
    
}
.menuList{
    width: 80%;
    height: 150px; 
    position: fixed;
    bottom: 300px;
    display: flex;
    justify-content: center;
    margin-left: 50%;
    transform: translate(-50%)
}
.inputList{
    width: 80%;
    border: 5px solid black;
    border-radius: 30px 0 0 30px;
    font-size: 5rem;
    padding-left: 15px;
   border-right-color: white;
    
}
#btn-add{
    width: 20%;
    color: white;
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 0 15px 15px 0;    
}
#outList{
    width: 90%;
    height: auto;
    padding: 15px;
}
.task{
    display: flex;
    position: relative;
    padding: 10px;
    font-size:70px;
    font-family: 'Neucha', cursive;
}
.valueOut{
    width: 80%;
    word-break: break-all;
}
.editBtn{
      width: auto;
    height: auto;
    position:absolute;
    right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.deleteBtn{
    width: 20px;
    height: auto;
    position:absolute;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-edit, .fa-times-circle{
    color: black;
}

